{{> _linked_header}}
<div class="btn-class err-btn">
    <a href="/">
        <button type="button" class=" btn btn-lg stylebtn stylebtn--white stylebtn--animated">Return to Home Page
        </button>
    </a>
</div>
{{> _footer}}
