<div class="about" id="about">
    <div class="col-md-6 main-bnr-text text-left">
        <p>
            Launched initially in 2009 by my teacher, Hijama House therapy is the pioneer of Hijama Therapy treatment in
            London. We
            offer whole-body treatment and prevention through advising on complementary and alternative therapies such
            as Ayurveda,
            Homeopathy, Naturopathy and Unani.</p><br>
        <ul style="color: #fff;">
            <li>Your treated by an experienced therapist</li>
            <li>Highest hygiene standards maintained</li>
            <li>One-time-use sterile equipment used</li>
        </ul>
        <br>

        <p>
            Hijama House therapy is well integrated to provide final and correct diagnosis to patients by designing
            personalized and
            target-based therapy for diagnosis of diseases and its treatments. In addition to treatments, Hijama House
            offers safe &
            effective herbal medicines for a speedy recovery from different ailments.
        </p>
    </div>
    <div class="col-md-6  main-bnr-bg about-img"></div>
    <div class="clearfix"></div>
</div>
