<div class="header-top header-sticky navbar-fixed-top">
    <div class="container">
        <div class="logo">
            <a href="/"><img src="img/logo/logo.png" alt="Hijama House"/></a>
        </div>
        <span class="menu" style="float: right"> </span>
        <div class="top-menu">
            <nav>
                <ul class="cl-effect-16">
                    <li class={{#if home}}active{{/if }}>
                        <a href="/" class={{#if home}}active{{/if }}>Home</a></li>
                    <li class={{#if about}}active{{/if }}>
                        <a href="/about-us" class={{#if about}}active{{/if }}>About</a>
                    </li>
                    <li class={{#if services}}active{{/if }}>
                        <a href="/services" class={{#if services}}active{{/if }}>Services</a>
                    </li>

                    <li class={{#if contact}}active{{/if }}>
                        <a href="/contact-us" class={{#if contact}}active{{/if }}>Contact</a>
                    </li>
                    <li class={{#if book}}active{{/if }}>
                        <a href="/book" class={{#if book}}active{{/if }}>Book Now</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
