<div class="services" id="service">
    <div class="container mb-3">
        <h2 class="services-header">Hijama Therapy/cupping</h2>
        <div class="tip-main">
            <div class="col-md-6 top-grid">
                <h4 class="ser text-left"></h4>
                <p class="ser text-left">
                    The process of Cupping therapy or Hijama therapy involves a series of glass cups,
                    usually no more than seven at a time, placed at specific points on the body.
                    Air is vacuumed out of the cups, creating suction against the surface of the skin.
                    Eventually, this suction removes toxin-rich blood from the body.
                </p>
                <img src="img/service/rectangle45.png" style="width: 100%; max-height: 400px; height: auto"/>
            </div>
            <div class="col-md-6 top-grid">
                <h4 class="ser text-left">What are the Benefits of Hijama/Cupping Therapy?</h4>
                <p class="ser text-left">
                    Hijama therapy helps prevent disease and increases blood circulation.
                    It is a safe, painless procedure and is used by several Olympic athletes.
                    According to the Traditional Islamic and Chinese medical literature and British Cupping Society,
                    Hijama/Cupping therapy helps treat High blood pressure
                </p>
                <ul class="ser text-left text-primary">
                    <li>High blood pressure</li>
                    <li>Anaemia</li>
                    <li>Haemophilia</li>
                    <li>Anxiety</li>
                    <li>Depression</li>
                    <li>Migraines</li>
                    <li>Arthritis</li>
                    <li>Fibromyalgia</li>
                    <li>Eczema</li>
                    <li>Acne</li>
                    <li>Varicose veins and issues with fertility</li>
                </ul>
            </div>
            <div class="col-md-6 top-grid">
                <h4 class="ser text-left">What Kinds of Hijama Techniques are Available?</h4>
                <p class="ser text-left">
                    The simple application of suction cups to one’s skin is referred to as dry cupping.
                    It’s an effective therapy, but can be taken a step further. It is similar to dry cupping but
                    includes making very small incisions in
                    the skin before applying suction cups. Hijama Therapy also known as blood cupping can be conducted
                    after a session of dry cupping,
                    allowing more blood and toxins to be drawn from the body.
                    Furthermore, Hijama therapy is commonly used in combination with other treatments like acupuncture
                    and massage.
                </p>
            </div>
            <div class="col-md-6 top-grid">
                <h4 class="ser text-left">When Should Hijama Therapy be Used?</h4>
                <p class="ser text-left">
                    Cupping is very relaxing and makes for a wonderful spa day.
                    Detoxing, one of the greatest benefits of Hijama therapy, helps prevent illness and promotes mental
                    wellness.
                    The best time for Hijama therapy is after a long work week when one needs to remove toxins and
                    rebalance themselves.
                    We’re happy to help patients attain wellness and look forward to meeting new people.
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container mb-3">
        <h2  class="services-header">Message Therapy</h2>
        <div class="tip-main">
            <div class="col-md-6 top-grid">
                <h4 class="ser text-left"></h4>
                <p class="ser text-left">
                    At Hijama Singapore, we offer a high-quality massage therapy service provided at a quiet serene
                    environment.
                    Contact us today to learn more about our massage therapy services and how they can be beneficial to
                    your overall health and well-being.
                </p>
                <img src="img/service/message-therapy.png" style="width: 100%; max-height: 400px; height: auto"/>
            </div>
            <div class="col-md-6 top-grid">
                <h4 class="ser text-left">Benefits of Massage Therapy</h4>
                <ul class="ser text-left text-primary">
                    <li>Massage therapy helps in the treatment of lower back pain</li>
                    <li>It reduces the effects of arthritis, fibromyalgia, joint pain, and bursitis</li>
                    <li>The therapy helps lower high blood pressure</li>
                    <li>Reduces fatigue, anxiety, and depression</li>
                    <li>Boosts immunity</li>
                    <li>Helps to quit smoking</li>
                    <li>Helps in overcoming food, drug, and alcohol addiction</li>
                    <li>Helps to prevent sports injuries</li>
                    <li>Boosts athletic performance</li>
                </ul>
            </div>
            <div class="col-md-12 top-grid">
                <p class="ser text-left">
                    Massage therapy provides an effective way of improving blood flow and soothing sore muscles.
                    It is a powerful stress reliever too. The therapists use a wide range of techniques to treat
                    different types of health conditions.
                    It can rejuvenate your facial skin health and appearance.
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container mb-3">
        <h2  class="services-header">Is Facial Hijama Therapy the same
            as Hijama Therapy on the body?</h2>
        <div class="tip-main">
            <div class="col-md-6 top-grid">
                <h4 class="ser text-left"></h4>
                <p class="ser text-left">
                    Hijama, also known as cupping, is an alternative therapy in which the practitioner uses suction cups
                    to stimulate muscles
                    on your face and body. Hijama can be a full body or facial treatment. The suction process helps to
                    promote blood flow and
                    relieve muscle tension. It also helps to accelerate cell repair and tissue regeneration. Experts in
                    traditional Chinese medicine
                    also claim that cupping therapy promotes the flow of "qi" or "chi" which in Chinese means life
                    force.
                    Although Hijama or cupping is a large part of traditional Islamic medicine, pictorial evidence of
                    the practice points
                    its origin to ancient Egypt.
                    At Hijama House, we offer high-quality facial cupping therapy treatments provided by professionals
                    in the industry
                </p>
                <img src="img/service/facial.png" style="width: 100%; max-height: 400px; height: auto"/>
            </div>
            <div class="col-md-6 top-grid">
                <h4 class="ser text-left">What is the Difference Between Body Cupping and Facial Cupping?</h4>
                <p class="ser text-left text-primary">
                    In practice, there are many similarities between body cupping and facial cupping.
                    Both therapies are based on the same principle but they are executed differently.
                    Facial cupping is softer or lighter than body cupping.
                    Facial cups generally pull the skin from deeper layers within the fascia to increase the blood flow
                    to the affected area and
                    improve the skin condition. The process doesn’t leave cup marks behind.
                    Facial Hijama helps to improve your complexion and reduce wrinkles and fine lines.
                    Body cupping is mainly used to relieve pains and aches.
                    A person who undergoes body capping will often end with cup marks on the treated skin area.
                    The marks show the amount of cellular waste build-up or "stagnation" on the skin.
                    As the lymphatic system clears away the waste, these cup marks gradually disappear.
                </p>
            </div>
            <div class="col-md-6 top-grid">
                <h4 class="ser text-left">Benefits of Facial Cupping</h4>
                <p class="ser text-left">
                    There are many benefits of facial cupping including the following:
                    The process promotes better circulation of oxygen-rich blood It helps to strengthen connective
                    tissues and
                    overall skin health Hijama helps to relax muscle tension Facial cupping brightens your skin and
                    reduces the
                    appearance of scars, wrinkles, and fine lines It helps to tone your chin, neck, and jawline In
                    general,
                    Hijama helps to regulate oil production and improves nutrient delivery and absorption
                </p>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6 top-grid">
                <h4 class="ser text-left">Does Facial Hijama Leave Bruises?</h4>
                <p class="ser text-left">
                    When facial cupping is done by a professional it shouldn’t leave any bruises behind.
                    However, you can get bruises if the cup used in the process is left in the same area for a long
                    time.
                    Experts say that discoloration on the skin can happen in as little as five seconds
                    which is why the suction cup should be kept moving over your face at all times.
                </p>
            </div>
            <div class="col-md-6 top-grid">
                <h4 class="ser text-left">Professional Facial Cupping Treatment by Experienced Practitioners</h4>
                <p class="ser text-left">
                    You may decide to experiment with facial cupping from the comforts of your home
                    but for the best results get an experienced Hijama practitioner to handle your first facial cupping
                    session.
                    At Hijama House, we have professional facial cupping practitioner ready to answer any questions you
                    may have about this alternative therapy.
                    Contact us today to learn more about facial Hijama therapy.
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container">
        <div class="tip-main">
            <div class="col-md-6 top-grid">
                <h4 class="ser text-left"></h4>
                <p class="ser text-left"></p>
                <img src="img/service/3d-stopwatch-with-number-60.png"
                     style="width: 100%; max-height: 400px; height: auto"/>
            </div>
            <div class="col-md-6 top-grid">
                <h4 class="ser text-left">
                    A full/half-body traditional massage therapy and Hijama Therapy lasting a total of 60 minutes
                    session.
                </h4>
            </div>
        </div>
    </div>
</div>
